/* ROOT */
:root {
    --green: rgb(33, 250, 131);
    --red: rgb(252, 86, 108);
    --dusky-green: #007676;
    --opac-white: rgba(255, 255, 255, .8);
    --form-txt:  rgba(255, 255, 255, .5);
    --darky: #1d2b3a;
    --light-grey: rgb(105, 105, 105);
    --input-bg: #f0f0f0; /* Cor de fundo dos inputs */
    --input-border: #cccccc; /* Cor da borda dos inputs */
    --input-border-focus: #06aa5e; /* Cor da borda dos inputs em foco */
}

/* Estilo Principal */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    overflow: hidden;
    background-color: var(--dusky-green);
}

label {
    color: #474747;
    font-weight: bold;
}

/* Cadastro */
.card-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

/* Form */
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 50px;
    color: var(--form-txt);
}

.form-header {
    grid-column: 1 / -1;
    margin-bottom: 30px;
    font-size: 40px;
    color: #474747;
    font-weight: bolder;
}

.input-container {
    position: relative;
    grid-column: span 2;
}

label {
    display: block;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 25px; /* Bordas arredondadas */
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    margin-top: 5px;
    color: var(--darky);
    font-size: 16px; /* Aumenta o tamanho da fonte para corresponder à imagem */
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

input:focus {
    border-color: var(--input-border-focus);
    box-shadow: 0 0 5px var(--input-border-focus); /* Sombra em foco */
}

input::placeholder {
    color: #a9a9a9; /* Cor mais clara para o placeholder */
    font-weight: 400;
}

.favoritar {
    grid-column: span 2;
    margin-top: 10px;
}

.favoritar-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.favoritar-btn {
    padding: 10px 20px;
    border: 1px solid var(--dusky-green);
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte dos botões de favoritar */
}

.favoritar-btn.casa {
    color: var(--dusky-green);
}

.favoritar-btn.trabalho {
    color: var(--dusky-green);
}

.favoritar-btn:hover {
    background-color: var(--dusky-green);
    color: white;
}

[type="submit"] {
    background-color: var(--dusky-green);
    border: none;
    color: white;
    padding: 15px 0;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 17px;
    outline: none;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para o botão */
}

[type="submit"]:hover {
    background-color: var(--green);
}

.btm-text {
    margin-top: 30px;
    font-size: 12px;
    color: #464646db;
}

.btm-text-highlighted {
    color: var(--dusky-green);
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}

.btm-text-highlighted:hover {
    text-decoration: underline;
}

/* Imagem */
.image-container {
    display: grid;
    place-items: center;
    background-color: var(--dusky-green);
    color: white;
    padding: 50px;
}

.image-container > img {
    width: calc(80%);
}

.company,
.image-container > .quote {
    text-align: center;
    font-size: 19px;
}

.company {
    font-size: 34px;
    text-align: left;
    height: 70px;
    align-self: flex-start;
}
