/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*img {
    width: 200%; 
    height: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
} */ 

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1800px; /* 1200px */
    /* margin: 50px auto;  */
    padding: 70px; /*  padding: 20px; */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    /*background: url(../../../img/empresas-login/background.jpg) center/cover no-repeat fixed; */
}

h2 {
    font-size: 34px; /* 28px */
    font-weight: bolder;
    color: #1a1a1a;
   /* margin-bottom: 25px; /* 20px */
}

#line {
    border: 2px solid #007676;
    width: 10%;
    display: flex; 
    margin-bottom: 20px; /* 15px */
}

#line-address {
    border: 2px solid #007676;
    width: 10%;
    display: flex; 
    margin-bottom: 20px; /* 15px */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333333e7;
    font-size: 14px; /* ADD */ 
}

input[type="text"] {
    width: 70%; /*  width: 100%;  */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007676;
    outline: none;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* ADD */
    justify-items: center;
    align-items: center;
}

.form-left {  /* .form-left, .form-right */
    width: 48%;
}

.form-right {
    width: 40%; 
}

.rua-numero {
    display: flex;
    gap: 10px;
}

input#numero {
    width: 30%; /* 100%*/
}

.btn {
    width: 33.6%; /* 100% */
    padding: 15px;
    background-color: transparent;
    color: #007676;
    font-size: 16px; /* 18px */
    border: 2px solid #007676;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
   /* margin-top: 20px; */ 
}

.btn:hover {
    background-color: #007676;
    color: #fff; 
}

.login-link {
    text-align: left; /* center */
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.login-link a {
    text-decoration: none;
    font-weight: 600;
    color: #007676;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
    .form-container {
        flex-direction: column;
    }

    .form-left, .form-right {
        width: 100%;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    h2 {
        font-size: 28px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"] {
        padding: 10px;
    }

    .btn {
        padding: 12px;
        font-size: 16px;
        margin-top: 8px; /* add */
    }

    .rua-numero {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 28px;
    }

    input[type="text"] {
        padding: 8px;
        font-size: 14px;
        width: 100%; /* add */
    }

    .btn {
        padding: 10px;
        font-size: 14px;
        margin-top: 8px; /* add */
        width: 100%; /* add */
    }

    .login-link {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    input#numero {
        width: 16%;
    }
}
